/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* box sizing will make sure element size include borders and padding*/
}

body {
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 30px; /* paddings are not inherited */
    border: 1px solid black;
}

.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
       rgba(126,213,111, 0.8),
        rgba(40, 180, 131, 0.8)
    ), 
    url(../img/hero.jpg); /*   background-image with linear-gradient;*/
    background-size: cover; /* property specifies the size of the background images*/
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clip-path property in CSS allows you to specify a specific region of an element to display*/
}

.logo-box {
    position: absolute; 
    top: 40px; /* top and left positions will be relative to its parent element which has position relative (header)*/
    left: 40px;
}

.logo {
    height: 35px;
}


.text-box{
    position: absolute;
    top: 40%; /* top and left are in relation to parent element */
    left: 50%;
    transform: translate(-50%, -50%); /*This will shifted height and width of element (This is not related to parent element, but the element itself)*/
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /** specifying animations**/
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

/**
Defining animations 
**/

/* going from left to right */
@keyframes moveInLeft {
    0% {
        /* start of the animation */
        opacity: 0; /*element is initially invisible */
        transform: translate(-100px);
    }

    80% {
        transform: translate(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* going from right to left */
@keyframes moveInRight {
    0% {
        /* start of the animation */
        opacity: 0; /*element is initially invisible */
        transform: translate(100px);
    }

    80% {
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s ;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

