/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* box sizing will make sure element size include borders and padding*/
}

body {
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 30px; /* paddings are not inherited */
    border: 1px solid black;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
       rgba(126,213,111, 0.8),
        rgba(40, 180, 131, 0.8)
    ), 
    url(../img/hero.jpg); /*   background-image with linear-gradient;*/
    background-size: cover; /* property specifies the size of the background images*/
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clip-path property in CSS allows you to specify a specific region of an element to display*/
}